<!DOCTYPE html>
<html>
<head>
    <title>Chalmers University of Technology &mdash; Gothenburg, Sweden</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/styles-merged.css">
    <link rel="stylesheet" href="~/Content/css/style.min.css">
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="probootstrap-search" id="probootstrap-search">
        <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
        <form action="#">
            <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
        </form>
    </div>

    <div class="probootstrap-page-wrapper">
        <!-- Fixed navbar -->

        <div class="probootstrap-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
                        <span><i class="icon-location2"></i>Maskingränd 2, 412 58 Göteborg</span>
                        <span><i class="icon-phone2"></i>+46-317722590</span>
                        <span><i class="icon-mail"></i>admissions@chalmers.se</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
                        <ul>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li><a href="#"><i class="icon-instagram2"></i></a></li>
                            <li><a href="#"><i class="icon-youtube"></i></a></li>
                            <li><a href="#" class="probootstrap-search-icon js-probootstrap-search"><i class="icon-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default probootstrap-navbar">
            <div class="container">
                <div class="navbar-header">
                    <div class="btn-more js-btn-more visible-xs">
                        <a href="#"><i class="icon-dots-three-vertical "></i></a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html" title="Chalmers">Chalmers</a>
                </div>
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="teachers.html">Teachers</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="courses.html">Courses</a></li>
                                <li><a href="course-single.html">Course Single</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li class="dropdown-submenu dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Sub Menu</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Second Level Menu</a></li>
                                        <li><a href="#">Second Level Menu</a></li>
                                        <li><a href="#">Second Level Menu</a></li>
                                        <li><a href="#">Second Level Menu</a></li>
                                    </ul>
                                </li>
                                <li><a href="news.html">News</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <script src="~/Scripts//js/scripts.min.js"></script>
    <script src="~/Scripts/js/main.min.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    @*<script type='text/javascript'>
        //Define your scripts
        $(function () {
            //When an <li> element in your myMenu area is clicked
            $('nav li').click(function () {
                //Removes the active class from any <li> elements
                $('li.active').removeClass('active');
                //Adds it to the current element
                $(this).addClass('active');

            });
        });
    </script>*@

</body>
</html>
